
body {
  background-color: rgb(161, 214, 251);
  margin: 0px;
  display: flex;
  justify-content: center;
}
p{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}
h3{
  margin: 0;
  padding: 0;
}
.body-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1604px;
}

/* header */
.header-container{
  display: flex;
  flex-direction: column;
  margin: 56px 58px 0 153px;
}
.header-row{
  display: flex;
  justify-content: space-between;
}
.header-row-text{
  background-image: url('assets/image\ 4.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 769px;
  height: 554px;
  margin-top: 85px;
}
.logo{
  display: flex;
  justify-content: flex-start;
  margin-left: 43px;
}
.circle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(222, 238, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}
.circle img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}
.logo-text{
  color: rgb(70, 46, 106);
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-left: 12px;
  margin-top: 6px;
}
.navbar{
  display: flex;
  justify-content: end;
  align-items: flex-start;
  padding-right: 39px;
  margin-top: 10px;
}
.selected-button-navbar{
  display: flex;
  flex-direction: column;
}
.selected-button-navbar-text{
  display: flex;
  align-items: center;
  color: rgb(46, 78, 146);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.selected-button-navbar-line{
  display: flex;
  align-items: center;
  width: 100%;
  height: 2px;
  background-color: #2E4E92;
  margin-top: 1rem;
}
.button-navbar{
  display: flex;
  align-items: center;
  margin-left: 40px;
  color: rgb(31, 21, 52);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  opacity: 0.5;
  text-align: left;
}
.box-text{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  margin-top: 45px;
  width: 652px;
}
.text-h1{
  color: rgb(60, 86, 123);
  font-family: Mulish;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}
.text-header{
  color: rgb(147, 193, 249);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 2%;
  text-align: left;
  margin-left: 4px;
  margin-top: 52px;
}
.button-header{
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 19px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  background-color: rgb(69, 143, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 67px;
  border-radius: 67px;
  margin-left: 43px;
  margin-top: 126px;
}

/* main */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;  
  background-image: url('assets/background.svg'), url('assets/bg.png');
  background-size: 1118px 967px, 930px 670px;
  background-position: -266px 180px, 900px 2300px;
  background-repeat: no-repeat, no-repeat;
}
.main-container-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container-cards{
  margin-top: 208px;
}
.mai-text-h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-h1{
  color: rgb(70, 46, 106);
  font-family: Mulish;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-line{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 56px;
  height: 2px;
  border-radius: 5px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.m-line{
  height: 2.5px;
}
.main-text-h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text{
  display: flex;
  justify-content: center;
  color: rgb(204, 210, 233);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 2%;
  text-align: center;
  padding-bottom: 86px;
}
.main-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 36px;
  column-gap: 36px;
  width: 1120px;
  height: 745px;
}
.card{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 39px;
  background-color: white;
}
.card-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
}
.card-header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(125, 121, 135);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.main-button{
  color: rgb(69, 143, 246);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 60px;
  border: 3px solid rgb(69, 143, 246);
  margin-top: 69px;
}
.main-button img{
  margin-left: 10px;
}
.main-button-learn{
  margin-top: 37px;
}
.main-button-download{
  margin-top: 40px;
}
.main-container-row{
  margin-top: 190px;
}
.main-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1243px;
}
.m{
  margin-top: 224px;
  margin-bottom: 352px;
}
.main-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.main-img img{
  max-width: 665px;
  max-height: 491px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-text{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.container-text-download{
  margin-top: 30px;
  margin-left: 134px;
  max-width: 478px;
  max-height: 375px;
}
.container-text-providers{
  margin-left: 92px;
  max-width: 486px;
  max-height: 388px;
  margin-top: 52px;
}
.main-container-text{
  color: rgb(125, 121, 135);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-h2{
  color: rgb(70, 46, 106);
  font-family: Mulish;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

/* footer */
footer {
  background: linear-gradient(to right, rgb(90, 152, 242), rgb(104, 136, 200));
}
.footer-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 113px;
  padding-bottom: 105px;
}
ul {
  list-style-type: none; /* Убираем маркеры */
  padding: 0;
  margin: 0;
}
.footer-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 1234px;
}
.footer-item{
  display: flex;
  flex-direction: column;
  flex: 1  
}
.footer-item-m{
  flex: 2;
}
.logo-f{
  margin: 10px 0 0 0; 
  height: 50px; 
  justify-content: flex-start;
}
.circle-f{
  background-color: white;
}
.logo-text-f{
  color: white;
}
.strange-text-footer{
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 1%;
  text-align: left;
  margin-top: 16px;
}
.at{
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
  margin-top: 29px;
}
.h3-footer{
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.text-footer{
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}